<div class="cont-body">
  <div class="cont-todo-list">
    <div class="c-header">
      <button>All</button>
      <button>Completed</button>
      <button>Pendings</button>
    </div>
    <div class="c-main">
      <p>All</p>
      <ul class="list-group">
        <li class="list-group-item">
          <input type="checkbox" id="chk-item" checked>
          <label for="chk-item">item 1</label>
          <button>X</button>
        </li>
        <li class="list-group-item">
          <input type="checkbox" id="chk-item-2">
          <label for="chk-item-2">item 2</label>
          <button>X</button>
        </li>
      </ul>
    </div>
    <div class="c-footer">
      <input type="text" placeholder="Enter task">
    </div>
  </div>
</div>